{% extends 'base.html' %}
{% block title %}选择题详情页 - 趣学在线网{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}"/>
{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <div class="crumbs">
                <ul>
                    <li><a href="/">首页</a>></li>
                    <li><a href="{% url 'practice:practice_list' %}">在线练习</a>></li>
                    <li><a href="{% url 'practice:practice_bank_detail' question_bank.id %}">题库详情</a>></li>
                    <li>开始练习-编程题</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}

    <section>
        <div class="wp">

            <div class="question">
                <div class="title">{{ question.question_num }}:&nbsp{{ question.question_content }}</div>
                <div>{% if question.is_comment %}老师可点评{% endif %}&nbsp{% if question.download %}源码下载{% endif %}&nbsp
                    {% if question.url %}提供讲解视频{% endif %}</div>


                <img width="440" height="300" src="{{ MEDIA_URL }}{{ question.image }}"/>

                <div style="color:#F00" id="show_detail"></div>
                <div class="collect" id="collect"><i></i>收藏本题</div>
                <div class="button-group">

                    <button class="questiontips" id="questiontips">查看解题思路</button>
                    <button class="submit" id="submit">我已完成</button>

                    <button class="complete" id="complete" style="display:none;">提前交卷</button>
                    <button class="next" id="next" style="display:none;">下一题</button>
                    <button class="download" id="download" style="display:none;">参考源码下载</button>
                    <button class="video" id="video" style="display:none;">观看讲解视频</button>
                    <button class="comment" id="comment" style="display:none;">提交代码 请老师点评</button>


                </div>

            </div>

        </div>
    </section>

{% endblock %}


{% block custom_js %}

    <script src="{% static 'js/jquery.min.js' %}" charset="utf-8"></script>
    <script>
        $(function () {
            //  选择某个选项
            $("#choices li").on("click", function () {
                $(this).addClass('choose').siblings().removeClass('choose')
            });
            //  点击收藏
            $("#collect").on("click", function () {
                $(this).toggleClass("collectok")
            })
            //  点击我已完成
            $("#submit").on("click", function () {
                //点击该按钮后 显示完成后用户可以看到的按钮
                $('#complete').show();
                $('#next').show();
                $('#download').show();
                $('#video').show();
                $('#comment').show();
            });
            //  点击下一题
            $("#next").on("click", function () {
                //  num是选择的答案的序号
                var num = $(".choose").index();

                var cur_question_num = {{ question.question_num }};
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'practice:choice_detail_submit' %}",
                    data: {
                        'user_answer': num,
                        'practice_num': cur_question_num,
                        'practice_bank_id':{{ practice_bank_id }}
                    },
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {

                        if (data.status == 'success')
                            window.location.href = "{% url 'practice:practice_choice_result' practice_bank_id %}";

                    }
                })
            })
        })
    </script>
{% endblock %}