{% extends 'usercenter-base.html' %}
{% block title %}老师作业点评- 趣学在线网{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="/user/home/">个人中心</a>></li>
                <li>我的作业</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的作业</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        {% ifequal will_comment 0 %}
                        <li ><a href="{% url 'users:my_practice_count' %}">待点评作业</a> </li>
                        <li class="active"><a href="{% url 'users:my_practice_error' %}">已点评作业</a></li>
                        {% else %}
                        <li class="active"><a href="{% url 'users:my_practice_count' %}">待点评作业</a> </li>
                        <li ><a href="{% url 'users:my_practice_error' %}">已点评作业</a></li>
                        {% endifequal %}
                        <li><a href="{% url 'users:my_practice_comment' %}">待回答问题</a></li>
                        <li><a href="{% url 'users:user_question_answered' %}">已回答问题</a></li>

                    </ul>

                </div>
                <div class="companycenter">
                    <div class="group_list brief">
                        {% for user_question in user_questions %}
                        <div >
                            <div class="des">
                                <a href="{% url 'users:user_question_answer' user_question.id %}"><h2>点我进入回答详情页</h2></a>
                                <span class="fl">待回答</span>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
{% endblock %}


