{% extends 'base.html' %}
{% block title %}提问详情页 - 趣学在线网{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}"/>
{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <div class="crumbs">
                <ul>
                    <li><a href="/">首页</a>></li>
                    <li>提问详情</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section style="font-size: 18px;min-height: 350px;overflow: auto">
        <div class="wp">
            {{ form.media }}
            <p>{{ user_question.user.name }}</p>
            <li>用户提问：
                <form action="" method="post">
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Submit">
                </form>
            </li>
        </div>
    </section>

{% endblock %}


{% block custom_js %}


{% endblock %}