{% extends 'base.html' %}
{% block title %}学生提问回答页 - 趣学在线网{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}"/>
{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <div class="crumbs">
                <ul>
                    <li><a href="/">首页</a>></li>
                    <li>回答提问</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section style="font-size: 18px;min-height: 350px;overflow: auto">
        <div class="wp">
            <p>{{ user_question.user.name }}</p>
            <p style="padding: 25px 0;color: red;font-size: 23px">{{ user_question.question_content }}</p>
        </div>
    </section>

{% endblock %}


{% block custom_js %}


{% endblock %}